/* Responsividade para telas maiores (min-width: 1600px) */
@media screen and (min-width: 1600px) {

    /* Ajustes na tela de login */
    .bloco_login {
        width: 40%; /* Aumenta a largura do bloco de login */
        max-width: 500px;
        height: 500px; /* Ajusta a altura do bloco de login */
        padding: 15px; /* Aumenta o padding para mais espaço */
    }

    .bloco_login form {
        gap: 20px; /* Aumenta o espaço entre os campos do formulário */
    }

    .bloco_login input {
        width: 450px; /* Ajusta a largura dos campos de input */
        padding: 12px; /* Aumenta o padding nos inputs */
    }

    .bloco_login h2 {
        font-size: 2.5rem; /* Aumenta o tamanho da fonte do título */
    }

    .button {
        gap: 25px; /* Aumenta o espaçamento entre os botões */
    }

    .button_login, .button_cadastro {
        width: 300px; /* Aumenta a largura dos botões */
        padding: 12px; /* Aumenta o padding dos botões */
    }

    .button_login:hover, .button_cadastro:hover {
        transform: scale(1.1); /* Mantém o efeito de hover para os botões */
    }

    /* Ajustes na barra de navegação */
    .container_navegador {
        width: 60%; /* Aumenta a largura da barra de navegação */
        padding: 24px; /* Adiciona mais espaçamento interno */
    }

    .navegador ul {
        gap: 48px; /* Aumenta o espaçamento entre os itens do menu */
    }

    .navegador a {
        font-size: 1.6rem; /* Aumenta o tamanho da fonte dos links */
        padding: 5px;
    }

    /* Logo responsiva */
    .container .logo img {
        max-width: 100%;
        height: auto;
        max-height: 70%; /* Aumenta a altura máxima da logo */
    }

    .container .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Ajuste no título */
    .container .titulo h1 {
        font-size: 3rem; /* Aumenta o tamanho do título */
    }
}

