<div class="navbar">
  <!--LOGO-->
  <div class="header">
    <div class="logo">
      <a href="">
        <img src="/assets/img/logo.png" alt="logo">
      </a>
    </div>
    <!--Titulo-->
    <div class="titulo">
      <a href="">
        <h1>Young Works</h1>
      </a>
    </div>
  </div>
  <!--Barra de navegação-->
  <div class="container_navegador" id="navbar">
    <nav class="navegador">
      <ul>
        <li><a href="/pages/home.html">Início</a></li>
        <li><a href="">Guia</a></li>
        <li><a href="/tela-inicial/quiz/index.html">Quiz</a></li>
        <li><a href="">Onde estudar?</a></li>
        <li><a href="">Inscreva-se!</a></li>
      </ul>
    </nav>
  </div>
</div>
</div>