/* Estilo dos resultados do quiz*/
  


.hidden {
    display: none;
  }
  
  #result-container {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #373030;
    border-radius: 8px;
    background-color: #000000;
  }
  
  #result-title {
    font-size: 20px;
    color: #333;
  }
  
  #course-container {
    margin-top: 20px;
  }
  
  #course-name {
    font-weight: bold;
  }
  
  #course-description {
    margin-top: 10px;
    font-size: 20px;
    color: #666;
  }
  
  /* estilo do botao acessar curso  */

  #course-link{
    background-image: url("./background_projeto.jpeg");
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px;
   
  }
  #course-link:hover{
    color:  #ffca1e;
  }