<div class="navbar">
  <nav class="navegador">
    <!-- Logo e Título -->
    <div class="logo-titulo">
      <a href="#" class="logo-link">
        <img src="/assets/img/logo.png" alt="logo" class="logo-img">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/assets/css/queries/media_mobile.css">
        <link rel="stylesheet" href="/assets/css/queries/media_pc.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/var.css/var.css"> <!-- Exemplo de CSS global -->
        <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
        <h1 class="titulo-texto">Young Works</h1>
      </a>
    </div>

    <!-- Menu de Navegação -->
    <ul class="menu">
      <li><a href="/index.html">Início</a></li>
      <li><a href="/pages/guia/guia.html">Guia</a></li>
      <li><a href="/pages/quiz/quiz.html">Quiz</a></li>
      <li><a href="/pages/onde-estudar/onde-estudar.html">Onde estudar?</a></li>
      <li><a href="/pages/Tela-Login/index.html">Inscreva-se!</a></li>
    </ul>
  </nav>
</div>