:root {
    --cor-primaria: #FFD700;
    --cor-secundaria: #c9a800;
    --font-family: 'Arial', sans-serif;
    --font-heading: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: #fffef0;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    text-decoration: dotted;
}


h2 {
    color: var(--cor-secundaria);
    font-family: var(--font-heading);
    border-bottom: 2px solid var(--cor-primaria);
    padding-bottom: 18px;
}
p{
    margin: 10px 0;
}

ul,
ol {
    padding-left: 20px;
}

li {
    margin-bottom: 18px;
}

.box {
    background-color: #333332;
    padding: 20px;
    border-left: 5px solid var(--cor-secundaria);
    margin-top: 20px;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #c0c0c0;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--cor-primaria);
    color: #000000;
}

footer {
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 0.9em;
}